<h1>Add Course</h1>

<div>
  <label>Course Name:</label> <br>
  <input type="text" [(ngModel)]="newCourse.courseName" name="courseName"> <br>

  <label>Course Code:</label> <br>
  <input type="text" [(ngModel)]="newCourse.courseCode" name="courseCode"> <br>

  <label>Course Credit:</label> <br>
  <input type="text" [(ngModel)]="newCourse.courseCredit" name="courseCredit"> <br>

  <label>Editable:</label> <br>
  <select [(ngModel)]="newCourse.edit" name="edit">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select> <br>

  <button (click)="addCourse()">Add Course</button>
</div>
